body {
   /* Путь к фоновому изображению */
  background-image: url(карта/back.svg);
  background-color: #c3e2e2; /* Цвет фона */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.header_content_container {
  max-width: 1023px;
}

#map_div {
  margin-top: 150px;
  width: 1139px;
  height: 585px;
}

.bg_img {
  text-align: center;
  margin-top: 20px;
}

footer {
  background-color:  #424242;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
}

header {
  background-color: #424242;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
}
main {
  width: 100%;
  /* height: 500px; */
  /* background-color: #00ffff; */
}

#ship {
  /*fill: #FF0000;*/
}

#track {
  fill: none;
  stroke: #4974AD;
  stroke-width: 4px;
/*  width: 1500px;*/
/*  stroke-dasharray: 2px 5px;*/
}

.scroll {
  width: 100%;
  transform: rotate(180deg);
}

circle {
  cursor: pointer;
  fill: #C1C1C1;
  stroke-width: 0;
  transition: 0.5s;
}

rect {
  fill: transparent;
  transition: 0.5s;
}

text {
  text-anchor: middle;
  font-family: Arial;
  font-size: 12px;
  user-select: none;
  pointer-events: none;
}

.active circle {
  fill: #e53326;
  stroke: #e53326;
  stroke-width: 3px;
}

.active rect {
  fill: #e53326;
}

.active text {
  fill: #ffffff;
}
