/* основное */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
html, body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
*,
*::before
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul, ol, li {
  list-style: none;
}
img {
  vertical-align: top;
}
main {
  width: 100%;
}
text {
  font-size: 12px;
  user-select: none;
  pointer-events: none;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;   /*убирает горизонтальный дефолтный скрол на сайте */
}




/* контейнер */
._container {
  width: 993px;
  margin: 0px auto;
}
._container2 {
  width: 1139px;
  margin: 0px auto;
}


/* хедер */
header {
  background-color: #2D2E2C;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
}
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__conteiner {
  left: 0;
  display: flex;
  min-height: 90px;
  align-items: center;   /* выравнивает элементы по центру по высоте */
}

.logo_1733 {
  margin-top: 25px;
  font-size: 24px;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
}
.logo_map {
  margin-top: 2px;
  margin-left: -5px;
  color: #9EBB84;
  font-size: 31px;
  font-family: "Roboto";
  font-weight: 400;
}

#pipka {
  margin-top: 15px;
}

._logo {
  display: inline-block;
  align-items: center;
}
.header__doplogo {
  align-items: center;
}
img {
  margin: 14px;
 }


/* боди */
body {
   /* Путь к фоновому изображению */
   background-color: #C4C4C4;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.bg_img {
  text-align: center;
  margin-top: 20px;
}
.page {
  background-color: white;
}


/* карта */
#map_div {
  background-image: url(карта/back.svg);
  background-size: 105% 105%;
  background-color: #c3e2e2;
  margin-top: 150px;
  background-position: center;

}

._container3 {
  /*height: 585px;*/
}

#side_river {
  position: relative;
  top: 800px; left: 250px;
  }

#track {
  fill: none;
  stroke: #4974AD;
  stroke-width: 4px;
/*  width: 1500px;*/
/*  stroke-dasharray: 2px 5px;*/
}
#ship {
  /*fill: #FF0000;*/
}
.scroll {
  width: 100%;
  transform: rotate(180deg);
}
circle {
  cursor: pointer;
  fill: #2D2E2C;
  stroke-width: 0;
  transition: 0.5s;
}
rect {
  fill: transparent;
  transition: 0.5s;
}
.active circle {
  fill: #e53326;
  stroke: #e53326;
  stroke-width: 3px;
}
.active rect {
  fill: #e53326;
}
.active text {
  fill: #ffffff;
}

/* футер */
footer {
  background-color:  #424242;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.hints {
  text-align: left;
  font-weight: 500;
  padding-right: 80px;
  padding-top: 50px;
}
#hint {
  padding-top: 10px;
}
#time {
  font-size: 36px;
}
